<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-fields">
      <mat-form-field>
        <input formControlName="name" type="text" matInput placeholder="User Story">
        <mat-hint>{{(error | async)?.name}}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="start" type="date" matInput placeholder="Estimated Time">
        <mat-hint>{{(error | async)?.start}}</mat-hint>
      </mat-form-field>
      <mat-form-field>
          <input formControlName="end" type="date" matInput placeholder="Estimated Time" value="2018-10-21">
          <mat-hint>{{(error | async)?.end}}</mat-hint>
        </mat-form-field>
      <button type="submit" mat-button>Submit</button>
    </div>
  </form>
