<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-fields">
    <mat-form-field>
      <textarea formControlName="description" type="text" matInput placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="storyNumber" type="text" matInput placeholder="User Story">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="estimatedTime" type="text" matInput placeholder="Estimated Time">
    </mat-form-field>
    <button type="submit" mat-button>Submit</button>
  </div>
</form>