<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-fields">
    <mat-form-field class="textarea">
      <textarea formControlName="description" type="text" matInput placeholder="Description"></textarea>
      <mat-hint>{{(error | async)?.description}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="storyNumber" type="text" matInput placeholder="User Story">
      <mat-hint>{{(error | async)?.storyNumber}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="estimatedTime" type="text" matInput placeholder="Estimated Time">
      <mat-hint>{{(error | async)?.estimatedTime}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="date" type="date" matInput min="{{sprintStart|date:'yyyy-MM-dd'}}" max="{{sprintEnd|date:'yyyy-MM-dd'}}"
        placeholder="Estimated Time" value="2018-10-21">
      <mat-hint>{{(error | async)?.date}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select sprint" formControlName="sprintId">
        <mat-option *ngFor="let sprint of sprintList" [value]="sprint._id">
          {{sprint.name}}
        </mat-option>
      </mat-select>
      <mat-hint>{{(error | async)?.sprintId}}</mat-hint>
    </mat-form-field>
    <button type="submit" mat-button>Submit</button>
  </div>
</form>