<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{isCreateWorkSpace?'Create Work Space':'Sign up'}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="login-content">
        <mat-form-field>
          <input matInput type="text" placeholder="Enter name" formControlName="name">
          <mat-hint>{{(error | async)?.name}}</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="Enter email" formControlName="email">
          <mat-hint>{{(error | async)?.email}}</mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="isCreateWorkSpace">
          <input matInput type="text" placeholder="Work space" formControlName="workSpace">
          <mat-hint>{{(error | async)?.workSpace}}</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Enter password" formControlName="password">
          <mat-hint>{{(error | async)?.password}}</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Enter confirm password" formControlName="confirmPassword">
          <mat-hint>{{(error | async)?.confirmPassword}}</mat-hint>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button>{{isCreateWorkSpace?'Create':'Sign up'}}</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>