<task-form></task-form>
<div class="task-table">
  <div class="title">
    <div class="c-sno">No</div>
    <div class="c-dispcription">Description</div>
    <div class="c-storynumber">Story Number</div>
    <div class="c-time">Estimated Time</div>
    <div class="c-status">Status</div>
  </div>
  <div class="task-options" *ngFor="let groupData of taskGroupData; let k=index;">
    <div class="full-date" [ngClass]="{'margin-top-zero':k===0}">{{groupData.date}}</div>
    <div class="task-values" *ngFor="let task of groupData.task;let i=index" [ngClass]="{'table-row':i%2===0}">
      <div class="c-sno">{{i+1}}</div>
      <div class="c-dispcription">{{task.description}}</div>
      <div class="c-storynumber">{{task.storyNumber}}</div>
      <div class="c-time">{{task.estimatedTime}}</div>
      <div class="c-status status">{{task.statusDisplay}}</div>
    </div>
  </div>
</div>