<task-form></task-form>
<div class="task-table">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Filter by member" [(ngModel)]="resourceSearch" aria-label="Number" matInput>
  </mat-form-field>

  <div *ngFor="let data of groupData | search: resourceSearch :'name' ; let idx=index">
    <div class="header">{{data.name}}</div>
    <div class="title" *ngIf="idx===0">
      <div class="c-sno">No</div>
      <div class="c-dispcription">Description</div>
      <div class="c-storynumber">Story Number</div>
      <div class="c-time">Estimated Time</div>
      <div class="c-status">Status</div>
      <div class="c-status">Action</div>
    </div>
    <div class="task-options" *ngFor="let date of data.task | keyvalue; let k=index;">
      <div class="full-date" [ngClass]="{'margin-top-zero':k===0}">{{date.key}}</div>
      <div class="task-values" *ngFor="let task of date.value;let i=index" [ngClass]="{'table-row':i%2===0}">
        <div class="c-sno">{{i+1}}</div>
        <div class="c-dispcription">{{task.description}}</div>
        <div class="c-storynumber">{{task.storyNumber}}</div>
        <div class="c-time">{{task.estimatedTime}}</div>
        <div class="c-status status">{{task.statusDisplay}}</div>
        <div><button type="button" (click)="delete(task)">Delete</button></div>
      </div>
    </div>
  </div>
</div>